@import "_fonts";
@import "_reset";

.gilroy1 {
  font-family : gilroy;
font-weight: 400;
}
.gilroy2 {
  font-family : gilroy;
font-weight: 500;
}
.gilroy3 {
  font-family : gilroy;
font-weight: 600;
}
.gilroy4 {
  font-family : gilroy;
font-weight:700;
}


@import "_media";